body{
    margin: 0; 
    padding: 0; /*Que no haya margin y padding que da el navegador default para que 
    nosotros lo manipulemos más adelante*/
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff; /* Color blanco */
    /*background-image: url('ruta_de_la_imagen.jpg'); /* Ruta de la imagen de fondo */
    /*background-size: cover; /* Ajustar la imagen de fondo al tamaño de la ventana del navegador */
    /*background-repeat: no-repeat; /* No repetir la imagen */
}
header{
    margin: 0; 
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    height: 60px;
}
header nav{
    display: flex;
    justify-content: flex-end;
}
header nav .nav-right-section{
    width: 250px;
    height: auto;
    display: flex;
    list-style: none; /* Para quitar los puntos de la lista */
    justify-content: center;
    align-items: center;
}
nav .nav-right-section a {
    margin-right: 10px; 
    color: #000000;
}
a{
    text-decoration: none;
    cursor: pointer;
}
/*
/* Estilos para la posición de los iconos 
.icon-container a {
    margin-left: 30px; /* Espacio entre iconos 
}
*/
nav .nav-right-section .gmail{
    margin-right: 10px;
}

nav .nav-right-section .photo{
    margin-right: 10px;
}

nav .nav-right-section .menu-icon {
    background-image: url("https://cdn-icons-png.flaticon.com/512/162/162740.png");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain;
    width: 15px;
    height: 15px;
    margin-left: 5px;
   }

   nav .nav-right-section img{
    border-radius: 50%;
    margin-left: 19px;
    margin-right: -16px;
}


main {
    margin-top: 150px;
    text-align: center;
}

main .main-logo{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-logo img{
    height: 92px; 
    width: 272px;
}

main .main-input {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-input-container {
    width: 525px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-input input {
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
}

main .main-input .search-icon {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer; /*Se añade el cursor: pointer para que el cursor adopte la forma de la manita al colocarlo sobre el ícono.*/
    margin-left: 15px;

}

main .main-input .micro-icon {
    background-image: url('https://w7.pngwing.com/pngs/611/272/png-transparent-blue-red-and-yellow-google-voice-logo-microphone-google-voice-google-search-google-logo-microphone-angle-electronics-search-engine-optimization.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer;
   }

main .main-input .cam-icon{
    background-image: url('https://play-lh.googleusercontent.com/BDWTTN85mBETnnPg_qekwlk1uCxnbl4wtnVE8cz_WyMHEntEJgQsdJaT4uA0_N0VWg=w240-h480-rw');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 10px;
}

main .main-buttons {
    width: 530px;
    margin: 0 auto;
}

main .main-buttons div {
    display: inline-block;
}

main .main-buttons button {
    height: 36px;
    background-color: #f2f2f2;
    border: 0;
    font-size: 14px;
    color: #5f6368;
    border-radius: 5px;
    padding: 0 15px;
    margin-right: 15px;
}

   main .main-buttons button:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px #000001;
    color: #222;
}            /* Estilos para centrar el mensaje */
.centered {
    text-align: center;
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
}

/* Estilos para el footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: space-between; /* Alinea los elementos a cada extremo */
    align-items: center; /* Centra verticalmente los elementos */
}
.footer-left, .footer-right {
    display: flex;
    align-items: center;
}
.footer-right {
    margin-left: auto; /* Empuja la sección hacia la derecha */
    margin-right: 45px;
}
.footer-left{
    margin-left: 10px;
}
footer a {
    color: #666;
    text-decoration: none;
    margin: 0 5px; /* Margen reducido */
    white-space: nowrap; /* Evita el corte de texto */
    font-size: 14px; /* Tamaño de texto ligeramente reducido */
}